<?php

/**
 * Copyright 2021, 2028 NuMode
 *
 * This file is part of Sfatto.
 * 
 * Sfatto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Sfatto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.  
 * 
 * You should have received a copy of the GNU General Public License
 * along with Sfatto. If not, see <https://www.gnu.org/licenses/>.
 *
 * config.inc
 * 
 * Sfatto configuration settings.
 *
 * @author Daniele Bonini <code@gaox.io>
 * @copyrights (c) 2021, 2028 NuMode     
 */

define('DEBUG', true);
define('ADMIN_VIEW', "1");
define('PUBLIC_VIEW', "2");
 
define('APP_NAME', "Status");
define('APP_TITLE', "Status");

// password: changeme
// salt: changeme
define('APP_ACCOUNT1_HASH', "changeme");
define('APP_ACCOUNT1_GENERIC_STATUS', "On vacation, like a polpetta bot.. [*-)]");
define('APP_ACCOUNT1_STATUS_CMD', "");

// password: changeme
// salt: changeme
define('APP_HASH', "changeme");
define('APP_SALT', "changeme");

define('APP_HOST', "yoursitename.xyz");
define('APP_PATH', "/var/www/sfatto-path/Public");
define('APP_HOME_PATH', "/var/www/sfatto-path/Public/home.php");
define('APP_PRIVATE_PATH', "/var/www/sfatto-path/Private");
define('APP_SCRIPT_PATH', "/var/www/sfatto-path/Private/scripts");
define('APP_AJAX_PATH', "/var/www/sfatto-path/Private/scripts_ajax");
define('APP_ERROR_PATH', "/var/www/sfatto-path/Private/error");
define('APP_DATA_PATH', "/var/www/sfatto-path/Private/data");
define('APP_LICENSE', <<<LICENSETEXT
Copyright (c) 2016, 2028 NuMode
All rights reserved.

This file is part of Sfatto.

Sfatto is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Sfatto is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.  

You should have received a copy of the GNU General Public License
along with Sfatto. If not, see <https://www.gnu.org/licenses/>.

https://opensource.org/licenses/GPL-3.0
LICENSETEXT
);
// Default Locale, in two letters format
define('APP_DEF_LANG', "en-US");
define('APP_DEF_PROFILE_PIC', "/res/pic1.png");
define('APP_FILE_MAX_SIZE', 10496000);
define('APP_BLOG_MAX_POSTS', 10);
define('APP_PAGINATION', true);
define('APP_GENERIC_STATUS', "");
define('APP_STATUS_CMD', ""); 

define('SESSION_NAME', "SFATTO_3445501");
define('SESSION_TIMEOUT', 1800);

define('COOKIE_PREFIX', "SFATTO_");
define('COOKIE_PATH', "/");
define('COOKIE_DOMAIN', "changeme");
define('COOKIE_EXPIRE', 31536000); // One year

$CONFIG = [

   'DEBUG' => true,
   'ADMIN_VIEW' => "1",
   'PUBLIC_VIEW' => "2",
 
   'APP' => [
      'NAME' => "Status",
      'TITLE' => "Status",
      // password: changeme
      // salt: changeme
      'HASH' => "changeme",
      'SALT' => "changeme",        
      'HOST' => "websitename.xyz", 
      'PATH' => "/var/www/sfatto-path/Public",
      'HOME_PATH' => "/var/www/sfatto-path/Public/home.php",
      'PRIVATE_PATH' => "/var/www/sfatto-path/Private", 
      'SCRIPT_PATH' => "/var/www/sfatto-path/Private/scripts",
      'AJAX_PATH' => "/var/www/sfatto-path/Private/scripts_ajax",
      'ERROR_PATH' => "/var/www/sfatto-path/Private/error",
      'DATA_PATH' => "/var/www/sfatto-path/Private/data",
      'LICENSE' => <<<LICENSETEXT
Copyright (c) 2016, 2028 NuMode
All rights reserved.

This file is part of Sfatto.

Sfatto is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Sfatto is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.  

You should have received a copy of the GNU General Public License
along with Sfatto. If not, see <https://www.gnu.org/licenses/>.

https://opensource.org/licenses/GPL-3.0 
LICENSETEXT
             ,
      'DEF_LANG' => "en-US",
      'DEF_PROFILE_PIC' => "/res/pic1.png", 
      'FILE_MAX_SIZE' => 10496000,
      'BLOG_MAX_POSTS' => 10, 
      'PAGINATION' => true,
      'GENERIC_STATUS' => "",
      'STATUS_CMD' => ""

      ],

  'SESSION' => [  
      'NAME' => "SFATTO_3445501",  
      'TIMEOUT' => 1800
           ],

  'COOKIE' => [  
      'PREFIX' => "SFATTO_",
      'PATH' => "/",
      'DOMAIN' => "changeme",
      'COOKIE_EXPIRE' => 31536000 // One year
           ], 
    
    ];  

$LOCALE = [

  'it-IT' => [
    
    '/home.php' => [        
      'ping' => "pong",
      'How-to: Manage your avatars in Sfatto' => "How-to: Gestire i tuoi avatar in Sfatto",  
      'Spec' => "Spec",  
      'Sample' => "Esempio",   
      'My Network' => "Network",
      'Hello from NuMode' => "Ciao da NuMode",  
      'This is just an example of avatar status' => "Questo e' giusto un esempio di status dell'avatar",  
      'Go' => "Vai",  
      'Hash Me' => "Codificami",  
      'Some rights reserved' => "Alcuni diritti riservati"  
         ],
     
    '/js/home-js.php' => [
      'ping' => "pong",
      'Please set your hash in the config file with this value' => "Puoi impostare il tuo hash nel file config con questo valore"   
         ]  
      
      ],

  'zh-CN' => [
    
    '/home.php' => [        
      'ping' => "pong",
      'How-to: Manage your avatars in Sfatto' => "HOW-TO: 免费管理您的化身",    
      'Spec' => "规格",  
      'Sample' => "样本",  
      'My Network' => "我的网络",  
      'Hello from NuMode' => "您好NUMODE",  
      'This is just an example of avatar status' => "这只是头像状态的一个例子",    
      'Go' => "去",  
      'Hash Me' => "哈希我",  
      'Some rights reserved' => "保留一些权利"  
         ],
     
    '/js/home-js.php' => [
      'ping' => "pong",
      'Please set your hash in the config file with this value' => "请在配置文件中设置您的哈希"     
         ]  
      
      ]
    
  ];

$EMOTICONS = [
    '[:-)]' => "&#128578;",
    '[:-p]' => "&#129297;",
    '[:c)]' => "&#128512;",
    '[;-)]' => "&#128521;",
    '[:-J]' => "&#128527;",
    '[;-P]' => "&#128540;",
    '[:-/]' => "&#128533;",
    '[@-)]' => "&#128531;",
    '[B-)]' => "&#128526;",
    '[=]]' => '&#128515;',
    '[=)]' => "&#128516;",
    '[*-)]' => "&#128525;"
 ];
